@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-base: #d6dbdc;  /* Light mode background color */
  --background-color-dark: #000000;   /* Dark mode background color */
}

body {
  background-color: var(--background-color-base);
}

.dark body {
  background-color: var(--background-color-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
